:root {
  --black: #000000;
  --cpink: #e1b493;
}

/* Menubar */

.menubar {
  height: 90px;
  align-items: center;
  justify-content: space-between;
  background-color: #FCFCFC;
}
.menu-items {
  display: flex;
  gap: 40px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  align-items: center;
  height: 100%;
}
.menu-items li a {
  font-family: roboto;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.menu-items li:hover a {
  color: var(--cpink);
}
#search {
  padding: 7px 10px 7px 35px;
  border: 1px solid black;
  box-shadow: 3px 3px #d6d6d6;
  outline: none;
}
#search:focus {
  background-color: var(--dpink);
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.nav-icons {
  font-size: 20px;
}

/* home */
/* hero */
.hero{
  background-image: url('./images/heroBackground.jpg');
  object-fit: cover;
  height: 100vh;
  background-position: center;
}
.video-bac{
  z-index: -1;
  position: absolute;
}
.title-bac {
  margin: auto;
  width: 70%;
  z-index: 2;
}
.htitle {
  font-family: "Fraunces", serif;
  font-size: 142px;
  font-variation-settings: "wght" 400, "SOFT" 100, "WONK" 0, "opsz" 144;
  color: var(--cpink);
}
.hero-buy{
  padding: 10px 40px;
  border: none;
  color:black;
  background-color: var(--cpink);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.425);
}


/* footer */
.footer{
  padding: 30px 0;
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: -2;
}
.footer-view{
  height: 100vh;
}
.r-footer a{
  color: black;
  text-decoration: none;
  display: block;
}